

.assignment {
    padding: 2px 8px;
    background-color: rgba(255,255,255,.4);
    border-bottom: 1px dashed rgba(0,0,0,.1);
}

.missing {
    background-color: rgba(200,0,0,.1);
    color: #400;
}

.not_graded {
    color: #003;
}

.info {
    float: right;
    width: 13%;
    text-align: center;
    border-left: 1px solid rgba(55,55,55,.1) ;
}
