.assignments {
    border-top: 1px solid rgba(33,33,33,.2);
    color: #777;
}

.current_grade {
    font-size: 10rem;
    text-align: center;
    line-height: 10rem;
    background-color: #e1e1e1;
    padding: 5px 0 40px 0;
    border-left: 1px solid rgba(33,33,33,.2);
}

.tardies {
   position: absolute;
   top: 0;
   right: 0;
   color: white;
   padding: 4px 8px;
   background-color: red;
   font-size: .8em;
}

.grade_summary {
    position: absolute;
    width: 100%;
    bottom: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}

.third {
    width: 33%;
    float: left;
    padding: 4px 0;
    text-align: center;
}

.teacher {
    font-size: 3rem;
    color: #333;
}

.teacher span:first-child {
    background-color: rgba(0, 64, 208, 0.15);
}

.teacher span:last-child {
    background-color: rgba(208, 60, 23, 0.15);
}

.relative {
    position: relative;
}

.class {
    border: 1px solid #333;
    margin-bottom: 10px;
}
